[run]
branch = True
source = _pytest,testing
omit =
    .tox/*
    /usr/*
    setup.py

[report]
show_missing = True
skip_covered = True
exclude_lines=
    # Have to re-enable the standard pragma
    \#\s*pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    ^\s*raise AssertionError\b
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
    ^\s*raise$

    # Don't complain if non-runnable code isn't run:
    ^if __name__ == ['"]__main__['"]:$
