include CHANGELOG.rst
include LICENSE
include AUTHORS
include pyproject.toml

include README.rst
include CONTRIBUTING.rst
include HOWTORELEASE.rst

include tox.ini
include setup.py

recursive-include changelog *
recursive-include scripts *.py
recursive-include scripts *.bat

include .coveragerc

recursive-include bench *.py
recursive-include extra *.py

graft testing
graft doc
prune doc/en/_build
graft tasks

exclude _pytest/impl

graft _pytest/vendored_packages

recursive-exclude * *.pyc *.pyo
recursive-exclude testing/.hypothesis *
recursive-exclude testing/freeze/~ *
recursive-exclude testing/freeze/build *
recursive-exclude testing/freeze/dist *

exclude appveyor.yml
exclude .travis.yml
prune .github
