include CHANGELOG
include README.txt
include setup.py
include LICENSE 
include py/LICENSE 
include py/path/testing/repotest.dump
include py/rest/rest.sty.template
graft doc
graft contrib
graft example
graft py/bin 
graft py/rest/testing/data
exclude *.orig 
exclude *.rej 
prune .svn 
prune .hg 
