#apigen-content {
  font-size: 0.8em;
}

#logo {
  position: relative;
  position: fixed;
}

div.sidebar {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  width: 155px;
  vertical-align: top;
  margin-top: 0.5em;
  position: absolute;
  position: fixed;
  top: 130px;
  left: 4px;
  bottom: 4px;
  overflow: auto;
}

div.sidebar .selected a {
  color: white;
  background-color: #3ba6ec; 
}

#content {
  border: 0px;
  height: 95%;
}

ul {
  padding-left: 0em;
  margin-top: 0px;
}

ul li {
  list-style-type: none;
}

h2 {
  padding-top: 0.5em;
}

h2.funcdef {
  color: blue;
}

.code a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.lineno {
  line-height: 1.4em;
  height: 1.4em;
  text-align: right;
  color: #555;
  width: 3em;
  padding-right: 1em;
  border: 0px solid black;
  border-right-width: 1px;
}

.code {
  line-height: 1.4em;
  height: 1.4em;
  padding-left: 1em;
  white-space: pre;
  font-family: monospace, Monaco;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.comment {
  color: purple;
}

.string {
  color: #777;
}

.keyword {
  color: blue;
}

.alt_keyword {
  color: green;
}

.funcinfo {
  border: 1px solid black;
  color: black;
  padding: 1em;
  background-color: white;
}

.callstackitem {
  border: 1px solid black;
  margin-bottom: 1em;
}

td.lineno {
  line-height: 1.1em;
}

td.code {
  line-height: 1.1em;
}
