-c broken-dep-constraints.txt
pluggy>=1.5.0
pygments-pytest>=2.5.0
sphinx-removed-in>=0.2.0
# Pinning to <9.0 due to https://github.com/python-trio/sphinxcontrib-trio/issues/399.
sphinx>=7,<9.0
sphinxcontrib-trio
sphinxcontrib-svg2pdfconverter
furo
sphinxcontrib-towncrier
sphinx-issues
sphinx-inline-tabs
