-c broken-dep-constraints.txt
pluggy>=1.5.0
pygments-pytest>=2.3.0
sphinx-removed-in>=0.2.0
sphinx>=8.1.3
sphinx_issues
sphinxcontrib-trio
sphinxcontrib-svg2pdfconverter
furo
sphinxcontrib-towncrier
sphinx-issues
