anyio[curio,trio]==4.0.0
django==4.2.7
pytest-asyncio==0.21.1
pytest-bdd==7.0.0
pytest-cov==4.1.0
pytest-django==4.7.0
pytest-flakes==4.0.5
pytest-html==4.1.1
pytest-mock==3.12.0
pytest-rerunfailures==12.0
pytest-sugar==0.9.7
pytest-trio==0.7.0
pytest-twisted==1.14.0
twisted==23.10.0
pytest-xvfb==3.0.0
