anyio[curio,trio]==4.6.2.post1
django==5.1.2
pytest-asyncio==0.24.0
pytest-bdd==7.3.0
pytest-cov==6.0.0
pytest-django==4.9.0
pytest-flakes==4.0.5
pytest-html==4.1.1
pytest-mock==3.14.0
pytest-rerunfailures==14.0
pytest-sugar==1.0.0
pytest-trio==0.8.0
pytest-twisted==1.14.3
twisted==24.10.0
pytest-xvfb==3.0.0
