name: Doc Check Links

on:
  schedule:
    # At 00:00 on Sunday.
    # https://crontab.guru
    - cron: '0 0 * * 0'
  workflow_dispatch:

# Set permissions at the job level.
permissions: {}

jobs:
  doc-check-links:
    if: github.repository_owner == 'pytest-dev'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"
          cache: pip

      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-uv

      - name: Run sphinx linkcheck via tox
        run: tox -e docs-checklinks
