name: Update Plugin List

on:
  schedule:
    # Run daily at midnight.
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install packaging requests tabulate[widechars]
      - name: Update Plugin List
        run: python scripts/update-plugin-list.py
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: '[automated] Update plugin list'
          branch: update-plugin-list/patch
          delete-branch: true
          branch-suffix: short-commit-hash
          title: '[automated] Update plugin list'
          body: '[automated] Update plugin list'
